{% extends "base.html" %}
{% block title %}
LolliPop
{% endblock %}
{% block body %}
<div id="Donate">
    <div class="container">
    <br>
    <h3 class="text-center text-danger">Donation</h3><br>
      <div class="form-group col-md-6">
        <label class="text-dark">I'm so grateful that you use this site</label><br>
      </div>
      <div class="form-group col-md-6">
        <label class="text-dark">But Unfortunately , For Using contents, You should donate to bitcoin wallet written below
        </label><br>
      </div>
      <div class="form-group col-md-6">
        <label class="text-danger">We just request 0.2 Monero(XMR) at least</label>
         and you can download 70 video Only we just accept The type of "XMR"
        <br>
      </div>
      <div class="form-group col-md-6">
        70 Video = 0.2 XMR<br>
        160 video = 0.4 XMR<br>
        250 video = 0.6 XMR
      </div>
      <div class="form-group col-md-6">
        Minimum donate fee = 0.2 XMR
      </div>
      <div class="form-group col-md-6">
        on or after donating, 
        <label class="text-danger">send your the transaction ID of bitcoin shown deposit and withdrawal category of bitcoin site you use.
        </label>
        </div>
      <div class="form-group col-md-6">
        <label class="text-danger">and your account of this CP site to Torbox mail.</label>
        </div>
      <div class="form-group col-md-6">
        And then , We give a site address for downloading.
      </div>
      <div class="form-group col-md-6">
        For example, Transaction id is described like <br>
        d895c2fb26d4755e1b716702420pfeo12045794d0e5f35fd3ac13a93074582d4
      </div>
      <div class="form-group col-md-6">
        Don't be confused about the other things
      </div>
      <div class="form-group col-md-6">
        bitcoin address <br>45BGynULfpSDwtWoaq25qWdCJUGgK9FjnTCKPPLA7dFnXG1xMqpWkQNTxZUMKkzZjHb7tF9Tj8tp5hfvdbQzRnyYGTca2pk
      </div>
      <div class="form-group col-md-6">
        Torbox address <br>nahg9999@torbox3uiot6wchz.onion
      </div>
      <div class="form-group col-md-6">
        Something Question, Message through Torbox.
      </div>
      <div class="form-group col-md-6">
        How to Download after donating
      </div>
      <div class="form-group col-md-6">
        You need to send numbers described on thumbnail to Torbox mail.<br>
        We will identify video and send u an address for downloading. 
      </div>
      <div class="form-group col-md-6">
        <label class="text-danger">The reason why we stick to this policy is this site undeveloped yet</label>
      </div>
      <div class="form-group col-md-6">
        <label class="text-danger">I'm so sorry for your inconvenience and we will develop the system of point that users can download by oneself
        </label>
      </div>
      <div class="form-group col-md-6">
        Thanks guys !!!!! <br>
      tor box address: http://torbox36ijlcevujx7mjb4oiusvwgvmue7jfn2cvutwa6kl6to3uyqad.onion/
      </br>
      </div>
    </div>
</div>

{% endblock %}